### Project Data Cleaning

In [121]:
import pandas as pd
import numpy as np

In [122]:
ruta = 'GSAF5.csv'

In [123]:
#df = pd.read_csv(ruta) --> no funciona

In [124]:
df = pd.read_csv(ruta, index_col=0, encoding='latin-1')
df = df.reset_index()
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [125]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5992 entries, 0 to 5991
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             5992 non-null   object
 1   Date                    5992 non-null   object
 2   Year                    5992 non-null   int64
 3   Type                    5992 non-null   object
 4   Country                 5949 non-null   object
 5   Area                    5590 non-null   object
 6   Location                5496 non-null   object
 7   Activity                5465 non-null   object
 8   Name                    5792 non-null   object
 9   Sex                     5425 non-null   object
 10  Age                     3311 non-null   object
 11  Injury                  5965 non-null   object
 12  Fatal (Y/N)             5973 non-null   object
 13  Time                    2779 non-null   object
 14  Species                 3058 non-null   object
 15  Investigator or Source  5977 non-null   object
 16  pdf                     5992 non-null   object
 17  href formula            5991 non-null   object
 18  href                    5989 non-null   object
 19  Case Number.1           5992 non-null   object
 20  Case Number.2           5992 non-null   object
 21  original order          5992 non-null   int64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: int64(2), object(22)
memory usage: 1.1+ MB

In [126]:
df.describe(include = 'all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Case Number,5992,5976,1990.05.10,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Date,5992,5128,1957,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Year,5992.0,NaN,NaN,NaN,1925.204606,286.473712,0.0,1942.0,1975.0,2003.0,2016.0
Type,5992,6,Unprovoked,4386,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Country,5949,203,USA,2116,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Area,5590,785,Florida,990,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Location,5496,3929,"New Smyrna Beach, Volusia County",157,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Activity,5465,1492,Surfing,904,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Name,5792,5009,male,495,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sex,5425,6,M,4835,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Age,3311,151,17,148,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Injury,5965,3595,FATAL,729,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fatal (Y/N),5973,8,N,4315,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Time,2779,357,Afternoon,174,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Species,3058,1538,White shark,161,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Investigator or Source,5977,4752,"C. Moore, GSAF",94,NaN,NaN,NaN,NaN,NaN,NaN,NaN
pdf,5992,5981,1907.10.16.R-HongKong.pdf,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
href formula,5991,5980,http://sharkattackfile.net/spreadsheets/pdf_di...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
href,5989,5972,http://sharkattackfile.net/spreadsheets/pdf_di...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Case Number.1,5992,5975,1952.08.04,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Case Number.2,5992,5976,1990.05.10,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
original order,5992.0,NaN,NaN,NaN,2997.548899,1729.86021,2.0,1499.75,2997.5,4495.25,5993.0
Unnamed: 22,1,1,stopped here,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 23,2,2,Teramo,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [127]:
print(df.columns)

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [128]:
len(df.columns)

24

In [129]:
df.shape

(5992, 24)

In [130]:
df.isnull().sum()

Case Number                  0
Date                         0
Year                         0
Type                         0
Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
pdf                          0
href formula                 1
href                         3
Case Number.1                0
Case Number.2                0
original order               0
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

In [131]:
total_nulos = df.isnull().sum()
total_nulos

Case Number                  0
Date                         0
Year                         0
Type                         0
Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
pdf                          0
href formula                 1
href                         3
Case Number.1                0
Case Number.2                0
original order               0
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

In [132]:
porcentaje_nulos = total_nulos[total_nulos > 0].sort_values()/df.shape[0]
porcentaje_nulos

href formula              0.000167
href                      0.000501
Investigator or Source    0.002503
Fatal (Y/N)               0.003171
Injury                    0.004506
Country                   0.007176
Name                      0.033378
Area                      0.067089
Location                  0.082777
Activity                  0.087951
Sex                       0.094626
Age                       0.447430
Species                   0.489653
Time                      0.536215
Unnamed: 23               0.999666
Unnamed: 22               0.999833
dtype: float64

In [133]:
columnas_malas = porcentaje_nulos[porcentaje_nulos > 0.2].index
columnas_malas

Index(['Age', 'Species ', 'Time', 'Unnamed: 23', 'Unnamed: 22'], dtype='object')

In [134]:
porcentaje_nulos.sum()

3.856642189586115

In [135]:
df.drop(columns = columnas_malas, inplace = True)

In [136]:
df.shape

(5992, 19)

In [137]:
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Injury,Fatal (Y/N),Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,Minor injury to thigh,N,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,Lacerations to hands,N,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,Lacerations to lower leg,N,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,Struck by fin on chest & leg,N,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,No injury: Knocked off board by shark,N,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989

In [138]:
df.rename(columns={'Species ':'Species'},inplace=True)

In [139]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Injury', 'Fatal (Y/N)',
       'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order'],
      dtype='object')

In [143]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Injury', 'Fatal (Y/N)',
       'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order'],
      dtype='object')

In [144]:
df.info()
#Cambiar date a formato fecha

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5992 entries, 0 to 5991
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             5992 non-null   object
 1   Date                    5992 non-null   object
 2   Year                    5992 non-null   int64
 3   Type                    5992 non-null   object
 4   Country                 5949 non-null   object
 5   Area                    5590 non-null   object
 6   Location                5496 non-null   object
 7   Activity                5465 non-null   object
 8   Name                    5792 non-null   object
 9   Sex                     5425 non-null   object
 10  Injury                  5965 non-null   object
 11  Fatal (Y/N)             5973 non-null   object
 12  Investigator or Source  5977 non-null   object
 13  pdf                     5992 non-null   object
 14  href formula            5991 non-null   object
 15  href                    5989 non-null   object
 16  Case Number.1           5992 non-null   object
 17  Case Number.2           5992 non-null   object
 18  original order          5992 non-null   int64
dtypes: int64(2), object(17)
memory usage: 889.6+ KB

In [145]:
df.Date.value_counts()

1957         11
1942          9
1956          8
1950          7
1958          7
             ..
23-Jan-93     1
04-Feb-93     1
18-Feb-93     1
19-Feb-93     1
1845-1853     1
Name: Date, Length: 5128, dtype: int64

In [146]:
df['Date']

0         18-Sep-16
1         18-Sep-16
2         18-Sep-16
3         17-Sep-16
4         16-Sep-16
           ...
5987    Before 1903
5988    Before 1903
5989      1900-1905
5990      1883-1889
5991      1845-1853
Name: Date, Length: 5992, dtype: object

In [147]:
df['Name'].value_counts()

male                    495
female                   85
boy                      23
boat                     14
2 males                  14
                       ...
Janelle Dickinson         1
Jack Mounteer             1
Jan-Henrick Opperman      1
Marc Jucker               1
Jules Patterson           1
Name: Name, Length: 5009, dtype: int64

In [148]:
lista_nombres=['male','female','boy','boat','2 males','child','Anonymous','sailor','a sailor','males','girl','fisherman','Unidentified','a pearl diver','a native','Unknown','black male',
              'a soldier','2 fishermen','Arab boy','aboriginal male','2 women','Japanese diver','M.C.','woman','Zulu male',' male','Russian male','unknown']

In [149]:
df.Name = df.Name.apply(lambda x: 'No name' if x in lista_nombres else x)

In [150]:
df.Name.value_counts()

No name              750
Andre Hartman          3
3 males                3
native boy             3
dinghy                 3
                    ...
Jamie  Harrington      1
Danny Bravier          1
Brian Catarra          1
Anton deVos            1
Jules Patterson        1
Name: Name, Length: 4981, dtype: int64

In [151]:
df.Year.value_counts().sort_values()

1803      1
1595      1
1617      1
1637      1
1554      1
       ...
2013    122
0       124
2014    125
2011    128
2015    139
Name: Year, Length: 232, dtype: int64

In [152]:
df.dtypes

Case Number               object
Date                      object
Year                       int64
Type                      object
Country                   object
Area                      object
Location                  object
Activity                  object
Name                      object
Sex                       object
Injury                    object
Fatal (Y/N)               object
Investigator or Source    object
pdf                       object
href formula              object
href                      object
Case Number.1             object
Case Number.2             object
original order             int64
dtype: object

In [153]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Injury', 'Fatal (Y/N)',
       'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order'],
      dtype='object')

In [161]:
df.Year = df.Year.apply(lambda x: 'missing year' if x == '0' else x)

In [162]:
df.Year

0               2016
1               2016
2               2016
3               2016
4               2016
            ...
5987    missing year
5988    missing year
5989    missing year
5990    missing year
5991    missing year
Name: Year, Length: 5992, dtype: object

In [163]:
df.dropna(inplace = True)

In [165]:
df.size

85272

In [166]:
df.shape

(4488, 19)

In [173]:
#df.Date.astype('datetime64')

In [176]:
df.drop_duplicates().shape

(4488, 19)

In [177]:
df.to_csv('ProjectCSV.csv')